<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-containt">
          <img src="../assets/02.png" />
          <ion-label>
            <h2>Santosh Sontakke</h2>
            <p>PNGHS , Nanded</p>
          </ion-label>
        </div>

        <ion-list id="inbox-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              mode="ios"
              lines="full"
              inset="false"
              detail="false"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon
                color="dark"
                slot="start"
                [ios]="p.icon"
                [md]="p.icon"
              ></ion-icon>
              <ion-label [class.selected]="selectedIndex == i">{{
                p.title
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
